* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.links a:nth-child(2) {
    background-color: #c19f37;
}

.links a:nth-child(1) {
    background-color: black;
}

.links a:hover {
    background-color: #c19f37;
}

/* main */

#container .info img{
    width: 80px;
}

#container {
    text-align: center;
    background-color: #1b1b1b;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding: 80px 0;
}

#container h1 {
    font-size: 50px;
    color: #c19f37;
    font-weight: bold;
    text-transform: uppercase;
    /* margin: 100px 0; */
}

#container .info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#container .info .content {
    width: 40%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container .info .content img {
    margin: 30px 0;
}

#container .info .content h2 {
    color: #c19f37;
    margin: 0px 0 30px;
    font-size: 30px;
    text-transform: uppercase;
}

#container .info .content p {
    color: white;
    width: 50%;
    margin: 0 auto;
}

#container .info .content a {
    text-decoration: none;
    color: #c19f37;
    text-transform: uppercase;
    display: inline-block;
    margin: 30px 10px;
    transition: 0.5s;
}
#container .info .content .last {
    width: fit-content;
    height: 0px;
    margin-bottom: 50px;
    /* background-color: blue; */
}
#container .info .content .last:hover a{
    color: #89712a;
}

#container .info .content i {
    color: white;
    cursor: pointer;
}


#container .info .content i:hover + a {
    color: #89712a;
}

@media only screen and (max-width: 768px) {
    #container h1 {
        font-size: 35px;
    }
    #container .info .content {
        width: 80%;
    }
    #container .info .content p {
        width: 80%;
    }
}



/* footer */

footer .info img {
    width: 100px;
    height: 80px;
}

footer .info {
    display: flex;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

footer .info .contact {
    width: 25%;
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* background-color: blue; */
}

footer .info .contact:last-child {
    width: 100%;
}

footer .contact:nth-child(1) img {
    width: 140px;
    /* margin: 20px 0; */
}

/* contact 2 */
footer .contact:nth-child(2) .detail {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 70%;
}

footer .contact:nth-of-type(2) h3 {
    font-size: 30px;
    color: #c19f37;
}

.detail div img {
    width: 30px;
    height: 30px;
    z-index: 4;
    cursor: pointer;
}

.detail div {
    background-color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.detail div::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    /* background-color: blue; */
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.detail div:nth-child(1)::after {
    background-color: blue;
}

.detail div:nth-child(2)::after {
    background-color: purple;
}

.detail div:nth-child(3)::after {
    background-color: greenyellow;
}

.detail div:hover::after {
    width: 50px;
    height: 50px;
}

/* contact 3 */
footer .contact:nth-child(3) h3 {
    font-size: 30px;
    color: #c19f37;
    margin: 40px 0 0;
}

footer .contact:nth-child(3) h4 {
    text-shadow: 0 0 2px white;
}
footer .contact:nth-child(3) img {
    width: 50px;
    height: 50px;
}

.day {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer.contact:nth-child(4) {
    padding: 20px;
    border-top: solid white 1px;
}

@media only screen and (max-width: 768px) {
   footer .info {
        display: flex;
        flex-direction: column;
    }

   footer .info .contact {
        width: 80%;
    }

    footer .info .contact:nth-child(1) p {
        width: 80%;
    }
}